body {
  background-color: #444;
  background-image: url(9a2faf2712d7673d07234603d795d045.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

